<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <style>
        body{
            width : 100%;
            height: 100%;
            font-family: 'Nanum Myeongjo', serif;
            font-size: large;
            background-color: lightskyblue;
        }
    </style>
</head>
<body>

    <div style="
    position: absolute;
    left: 0;
    top: 2%;
    width: 30%;
    text-align: center;
    font-size: 200%
    ">개발 블로그</div>

    <div style="
    position: absolute;
    left: 35%;
    top: 2%;
    width: 30%;
    text-align: center;
    font-size: 200%
    ">
        <form action="{% url 'result' %}" method="GET" >
            <input style="display: inline; width:70%; padding-bottom: 1.5%; padding-top: 1.5%; text-align: center;"
            type="search" name="query" value="{{query}}" placeholder="검색어 입력!">
            <select name="search_type">
                <option value="all">전체</option>
                <option value="title">제목</option>
                <option value="contents">본문</option>
                <option value="author">저자</option>
            </select>
        </form>
    </div>

    <div style="          
    text-align: left;
    margin-left: 10%;
    margin-right: 12%;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 1%;
    ">
        {% block contents %}
        {% endblock contents %}
    </div>

</body>
</html>