{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Create Page</title>   
{% endblock title %}

{% block body %}
<h1>Create Photo Posting</h1><br />

<a style="font-size: 150%;" href="{% url 'main' %}">뒤로가기</a> <br /><br />

<form style="font-size: 150%;"
action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="display: inline;">Title : </p>
    <input type="text" name="subject"> <br /><br />

    <p style="display: inline;">Image : </p>
    <input type="file" name="image"> <br /><br />
    <!-- {{form.image}}
    <iframe src="{{i.image}}" ></iframe> -->
    
    <p style="display: inline;">Content : </p>
    <input type="text" name="content"> <br /><br />

    <p style="display: inline;">Date : </p>
    <input type="datetime" name="create_date"> <br /><br />
    <input type="submit" value="추가">
</form>

{% endblock body %}