{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Create Page</title>   
{% endblock title %}

{% block body %}
<h2>Create page</h2>

<form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Title : </p>
    <input type="text" name="subject">

    <p>Image : </p>
    <input type="file" name="image">
    <!-- {{form.image}}
    <iframe src="{{i.image}}" ></iframe> -->
    
    <p>Content : </p>
    <input type="text" name="content">
    <p>Date : </p>
    <input type="datetime" name="create_date">
    <input type="submit" value="추가">
</form>

{% endblock body %}