{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Main Page</title>   
{% endblock title %}

{% block body %}

    <div style="margin-bottom: 1%; font-size: 150%;" ><a href="{% url 'create' %}" method="POST">Create</a> </div>
    

    <div class="main_div">
        {% for i in main_key.all %}
        <a style="font-size: 150%;" href="{% url 'detail' i.id %}">Title : {{i.subject}}</a> <br/>
        <img style="width: auto; height: auto; max-width: 50%; max-height: 50%;" 
        class="image" src="{{i.image.url}}"/>
        <p></p>
        {% endfor %}
    </div>
    
{% endblock body %}