{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Update Page</title>   
{% endblock title %}

{% block body %}
    <h2>Update page</h2>

    <a style="font-size: 150%;" href="{% url 'main' %}">뒤로가기</a> <br /><br />

    <form action="{% url 'update' update_key.id %}" method="POST">
        {% csrf_token %}
        <p style="display: inline;">Title : </p>
        <input type="text" name="subject"> <br /><br />

        <p style="display: inline;">Image : </p>
        <input type="file" name="image"> <br /><br />

        <p style="display: inline;">Content : </p>
        <input type="text" name="content"> <br /><br />

        <p style="display: inline;">Date : </p>
        <input type="datetime" name="create_date"> <br /><br />
        <input type="submit" value="수정">
    </form>
{% endblock body %}
